In [9]:
# import dependencies

import pandas as pd
from csv import reader

In [10]:
# read filesz

fund_fact_df = pd.read_csv('data/df_fund_facts.csv')
fund_fact_df.head()

                            label                     value
0                     Asset Class  Domestic Stock - General
1                        Category               Large Blend
2  Expense ratio as of 04/27/2017                     0.14%
3              Minimum investment                  "$3,000"
4                     Fund number                      0040

In [11]:
# switching values 

fund_fact_df['label'].replace(['Expense ratio as of 04/27/2017'], ['Expense ratio as of 04/27/2019'], inplace=True)
fund_fact_df['value'].replace(['0.14%', '"$3,000"', '0040'], ['0.19%', '"$3,250"', '0445' ], inplace=True)
fund_fact_df

                            label                     value
0                     Asset Class  Domestic Stock - General
1                        Category               Large Blend
2  Expense ratio as of 04/27/2019                     0.19%
3              Minimum investment                  "$3,250"
4                     Fund number                      0445
5                    Fund advisor        Equity Index Group

In [14]:
# save file as csv

fund_fact_df.to_csv('data/df_fund_facts.csv', index=False)